/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  /* blue black rgb */
  --background: #0C0C0C;
  --okazu-background: #1D1D1D;
  --foreground: #1a1a1a;
  --text-primary: #e1e1e1;
  --border: #e1e1e1;
}

@font-face {
  font-family: "NotoSansJP";
  src: url("/fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 400 700 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "NotoSansJP", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: 20px;
}
main {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
strong,
b {
  font-weight: 700;
}
a {
  color: var(--text-primary);
  text-decoration: none;
}
p {
  margin: 0;
  white-space: normal;
  word-break: break-word;
  font-size: 20px;
}
a:hover {
  opacity: 0.8;
}
div {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: disc;
  padding-inline-start: 24px;
  margin: 0;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
  margin: 0;
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}
